<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gentlemen's Barber Shop - HTML CSS Template</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&display=swap" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/css/templatemo-barber-shop.css" rel="stylesheet">
    <!--

    TemplateMo 585 Barber Shop

   

    -->
</head>

<div class="container body-content">
    @RenderBody()
    <hr />
    
</div>

</body>
</html>